<div class="average-stats-container">
    <h2 class="my-4">Media Statistiche del Giocatore</h2>

    @if (averageStats) {
        <div>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th>Punti</th>
                        <td>{{ averageStats.averagePoints }}</td>
                    </tr>
                    <tr>
                        <th>Assist</th>
                        <td>{{ averageStats.averageAssist }}</td>
                    </tr>
                    <tr>
                        <th>Rimbalzi Difensivi</th>
                        <td>{{ averageStats.averageDRebound }}</td>
                    </tr>
                    <tr>
                        <th>Rimbalzi Offensivi</th>
                        <td>{{ averageStats.averageORebound }}</td>
                    </tr>
                    <tr>
                        <th>Palle Recuperate</th>
                        <td>{{ averageStats.averageSteals }}</td>
                    </tr>
                    <tr>
                        <th>Stoppate</th>
                        <td>{{ averageStats.averageBlocks }}</td>
                    </tr>
                    <tr>
                        <th>Palle Perse</th>
                        <td>{{ averageStats.averageTurnovers }}</td>
                    </tr>
                    <tr>
                        <th>Tiri Da Due Segnati</th>
                        <td>{{ averageStats.average2PM }}</td>
                    </tr>
                    <tr>
                        <th>Tiri Da Due Tentati</th>
                        <td>{{ averageStats.average2PA }}</td>
                    </tr>
                    <tr>
                        <th>Percentuale Tiri Da Due</th>
                        <td>{{ averageStats.average2PA > 0 ? (averageStats.average2PM / averageStats.average2PA * 100).toFixed(2) : 'N/A' }}%</td>
                    </tr>
                    <tr>
                        <th>Tiri Da Tre Segnati</th>
                        <td>{{ averageStats.average3PM }}</td>
                    </tr>
                    <tr>
                        <th>Tiri Da Tre Tentati</th>
                        <td>{{ averageStats.average3PA }}</td>
                    </tr>
                    <tr>
                        <th>Percentuale Tiri Da Tre</th>
                        <td>{{ averageStats.average3PA > 0 ? (averageStats.average3PM / averageStats.average3PA * 100).toFixed(2) : 'N/A' }}%</td>
                    </tr>
                    <tr>
                        <th>Tiri Liberi Segnati</th>
                        <td>{{ averageStats.averageFTM }}</td>
                    </tr>
                    <tr>
                        <th>Tiri Liberi Tentati</th>
                        <td>{{ averageStats.averageFTA }}</td>
                    </tr>
                    <tr>
                        <th>Percentuale Tiri Liberi</th>
                        <td>{{ averageStats.averageFTA > 0 ? (averageStats.averageFTM / averageStats.averageFTA * 100).toFixed(2) : 'N/A' }}%</td>
                    </tr>
                </tbody>
            </table></div>
    } 

    <div>
        <button (click)="goBack()">Torna alla lista giocatori</button>
    </div>
    
</div>