<div class="container">
  <h3>Aggiorna i Punteggi Finali e Risultato</h3>
  <form #scoreForm="ngForm" (ngSubmit)="updateScores(scoreForm)">
    <div class="form-group">
      <label for="myFinalScore">Il Tuo Punteggio Finale:</label>
      <input type="number" id="myFinalScore" name="myFinalScore" [(ngModel)]="myFinalScore" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="oppositeFinalScore">Punteggio Finale Avversario:</label>
      <input type="number" id="oppositeFinalScore" name="oppositeFinalScore" [(ngModel)]="oppositeFinalScore" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="homeOrAway">Gioca in:</label>
      <select id="homeOrAway" name="homeOrAway" [(ngModel)]="homeOrAway" class="form-control" required>
        <option value="home">Casa</option>
        <option value="away">Trasferta</option>
      </select>
    </div>
    

    <button type="submit" class="btn btn-primary mt-3" [disabled]="scoreForm.invalid">Aggiorna Punteggi e Risultato</button>
    <button class="btn btn-secondary mt-3" [routerLink]="['/gamelist', gameId, teamId]">Annulla</button>
  </form>


