<div class="m-4">
    <div id="dettagli">Dettagli Squadra</div>
    <div id="team">
        <table class="table table-striped-columns">
            <tbody>
                <tr><td>NOME:</td><td>{{team?.name}}</td></tr>
                <tr><td>CATEGORIA:</td><td>{{team?.category}}</td></tr>
            </tbody>
        </table>  
    </div>
    <button id="elimina" class="btn btn-danger mt-3" routerLink="delete-team">Elimina</button>
    <button id="mostra" class="btn btn-basket mt-3" [routerLink]="['/gamelist',gameId, team?.id]">Mostra la lista delle partite</button>
    <button id="mostra" class="btn btn-basket mt-3" [routerLink]="['/playerlist', team?.id]">Mostra rosa giocatori</button>
    <button id="modifica" class="btn btn-basket mt-3" [routerLink]="['/change-category', team?.id]">Modifica Categoria</button>
    <button id="indietro" class="btn btn-secondary mt-3" [routerLink]="'/'">Torna alla Home</button>
</div>

