<div id="gamelist"><h3>Risultati</h3></div>

<div class="filter-container">
    <i class="fa fa-filter" (click)="toggleFilterOptions()" aria-hidden="true" style="cursor: pointer;"></i>
</div>

@if (showFilterOptions) {
    <div class="filter-options mt-3">
        <button class="btn btn-primary" (click)="filterHomeGames()">Partite in Casa</button>
        <button class="btn btn-primary" (click)="filterAwayGames()">Partite in Trasferta</button>
        <button class="btn btn-secondary" (click)="resetFilters()">Mostra Tutte</button>
    </div>
}

<div class="gamelistContainer">
    <table class="table table-bordered m-4">
        <thead>
            <tr id="intestation">
                <th>Game Day</th>
                <th>Avvesario</th>
                <th>Casa</th>
                <th>Trasferta</th>
                <th>Risultato</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tabody">
            @for (g of filteredGameList; track g.id){
                <tr>
                    <td>{{g.gameDay}}</td>
                    <td>{{g.oppositeTeam}}</td>
                    <td>{{g.myFinalScore}}</td>
                    <td>{{g.oppositeFinalScore}}</td>
                    <td>{{g.result}}</td>
                    <td>
                        <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success mt-3" [routerLink] = "['/statistics', g.id, teamId]">vedi stats</button>
                        <button type="button" class="btn btn-outline-secondary mt-3" [routerLink]="['/team', teamId, 'game', g.id, 'change-scores']">Aggiorna Punteggio</button>
                        <button type="button" class="btn btn-outline-danger mt-3" [routerLink] = "['/delete-game', teamId, g.id]">elimina</button>
                        </div>
                    </td>    
                    </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @if (!isFilteredByUpcoming) {
        <button type="button" class="btn btn-primary mt-3" (click)="filterUpcomingGames()">Mostra partite in calendario</button>
    }

    @if (isFilteredByUpcoming) {
        <button id="aggiungi" class="btn btn-warning mt-3"[routerLink]="['/add-game', teamId]">Aggiungi una nuova partita</button>
        <button type="button" class="btn btn-primary mt-3" (click)="filterByPlayedGames()">Mostra risultati</button>
    }
    
    
    <button type="button" class="btn btn-secondary mt-3" [routerLink]="['/team', teamId]">Torna ai dettagli della squadra</button>
</div>