<div id="gamelist"><h3>Gamelist</h3></div>

<div class="gamelistContainer">
    <table class="table table-bordered m-4">
        <thead>
            <tr id="intestation">
                <th>Game Day</th>
                <th>Avvesario</th>
                <th>Casa</th>
                <th>Trasferta</th>
                <th>Risultato</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tabody">
            @for (g of gamelist; track g.id){
                <tr>
                    <td>{{g.gameDay}}</td>
                    <td>{{g.oppositeTeam}}</td>
                    <td>{{g.myFinalScore}}</td>
                    <td>{{g.oppositeFinalScore}}</td>
                    <td>{{g.result}}</td>
                    <td>
                        <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success mt-3" [routerLink] = "['/statistics', g.id, teamId]">vedi stats</button>
                        <button type="button" class="btn btn-outline-secondary mt-3" [routerLink]="['/team', teamId, 'game', g.id, 'change-scores']">Aggiorna Punteggio</button>
                        <button type="button" class="btn btn-outline-danger mt-3" [routerLink] = "['/delete-game', teamId, g.id]">elimina</button>
                        </div>
                    </td>    
                    </tr>
            }
        </tbody>
    </table>
</div>
<div>
<button id="aggiungi" class="btn btn-warning mt-3"[routerLink]="['/add-game', teamId]">AGGIUNGI UNA NUOVA PARTITA</button>
<button type="button" class="btn btn-secondary mt-3" [routerLink]="['/team', teamId]">Indietro</button>
</div>