<div id="statistics">
    <h2>Statistiche Giocatori Contro {{oppositeTeamName}}</h2>
</div>

<div class="statisticsContainer">
    <table class="table table-striped m-4">
        <thead>
            <tr id="intestation">
                <th>Nome</th>
                <th>Punti</th>
                <th>2 Punti</th>
                <th>3 Punti</th>
                <th>Rimbalzi</th>
                <th>Assist</th>
                <th>Tiri Liberi</th>
                <th>Stoppate</th>
                <th>Palle Recuperate</th>
                <th>Palle Perse</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tabody">
            @for (p of playerStats; track p.id) {
                <tr>
                    <td>{{p.playerFirstname}} {{p.playerLastname}}</td>
                    <td>{{p.points}}</td>
                    <td>
                        <span>{{p.twoPointsMade}}/{{p.twoPointsAttempted}}</span>
                        @if (!statisticsLocked) {
                            <button (click)="addPoints(p.id,2)" class="no-border-btn">✅</button>
                        <button (click)="addTwoPointsAttempted(p.id,1)" class="no-border-btn">❌</button>
                        }
                        
                    </td>
                    <td>
                        <span>{{p.threePointsMade}}/{{p.threePointsAttempted}}</span>
                        @if (!statisticsLocked) {
                            <button (click)="addPoints(p.id,3)" class="no-border-btn">✅</button>
                            <button (click)="addThreePointsAttempted(p.id,1)" class="no-border-btn">❌</button>
                        }
                    </td>
                    <td>
                        <span>O: {{p.oRebound}} D: {{p.dRebound}}</span>
                        @if (!statisticsLocked) {
                            <button (click)="addORebound(p.id,1)" class="no-border-btn">O✅</button>
                            <button (click)="addDRebound(p.id,1)" class="no-border-btn">D✅</button>
                        }
                    </td>
                    <td>
                        <span>{{p.assist}}</span>
                        @if (!statisticsLocked) {
                            <button (click)="addAssist(p.id,1)" class="no-border-btn">✅</button>
                        }
                    </td>
                    <td>
                        <span>{{p.freeThrowMade}}/{{p.freeThrowAttempted}}</span>
                        @if (!statisticsLocked) {
                            <button (click)="addPoints(p.id,1)" class="no-border-btn">✅</button>
                            <button (click)="addFreeThrowAttempted(p.id,1)" class="no-border-btn">❌</button>
                        }
                        
                    </td>
                    <td>
                        <span>{{p.block}}</span>
                        @if (!statisticsLocked) {<button (click)="addBlock(p.id,1)" class="no-border-btn">✅</button>}
                    </td>
                    <td>
                        <span>{{p.steal}}</span>
                        @if (!statisticsLocked) {<button (click)="addSteal(p.id,1)" class="no-border-btn">✅</button>}
                    </td>
                    <td>
                        <span>{{p.turnover}}</span>
                        @if (!statisticsLocked) {<button (click)="addTurnover(p.id,1)" class="no-border-btn">✅</button>}
                    </td>
                    <td>
                        @if (!statisticsLocked) {<button (click)="removePlayerStat(p.id!)" class="btn btn-sm btn-danger">Rimuovi</button>}
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (!statisticsLocked && players.length > 0) {
    <div class="mb-3">
        <label for="playerSelect" class="form-label">Seleziona Giocatore:</label>
        <select id="playerSelect" [(ngModel)]="selectedPlayerId" class="form-select">
            @for (player of players; track player.id) { 
                <option [value]="player.id">{{player.firstname}} {{player.lastname}}</option>
            }
        </select>
        <button id="aggiungi" class="btn btn-primary mt-3" (click)="addPlayerStat()">Aggiungi</button>
        
    </div>

}


@if (!statisticsLocked && playerStats.length > 0) {
    <div class="mb-3">
        <!-- Dropdown per selezionare il giocatore in base alle statistiche di gioco -->
        <label for="playerSelect" class="form-label">Seleziona Giocatore:</label>
        <select id="playerSelect" [(ngModel)]="selectedPlayerStatId" class="form-select">
            @for (playerStat of playerStats; track playerStat.id) { 
                <option [value]="playerStat.id">{{playerStat.playerFirstname}} {{playerStat.playerLastname}}</option>
            }
        </select>

        <!-- Dropdown per selezionare l'azione da rimuovere -->
        <label for="actionSelect" class="form-label mt-3">Seleziona Azione da Rimuovere:</label>
        <select id="actionSelect" [(ngModel)]="selectedAction" class="form-select">
            <option value="points">Punti</option>
            <option value="assist">Assist</option>
            <option value="oRebound">Rimbalzo Offensivo</option>
            <option value="dRebound">Rimbalzo Difensivo</option>
            <option value="steal">Palla Recuperata</option>
            <option value="block">Stoppata</option>
            <option value="turnover">Palla Persa</option>
            <option value="ftm">Tiro Libero Segnato</option>
            <option value="fta">Tiro Libero Tentato</option>
            <option value="twoPointsMade">2 Punti Segnati</option>
            <option value="twoPointsAttempted">2 Punti Tentati</option>
            <option value="threePointsMade">3 Punti Segnati</option>
            <option value="threePointsAttempted">3 Punti Tentati</option>
        </select>

        <!-- Pulsante per rimuovere l'azione selezionata -->
        <button class="btn btn-danger mt-3" (click)="removeAction(selectedPlayerStatId, selectedAction)">Rimuovi Azione</button>
    </div>
}




<button id="lock" class="btn btn-warning mt-3" (click)="lockStatistics()" [disabled]="statisticsLocked" >Partita Finita</button>
<button id="indietro" class="btn btn-secondary mt-3" (click)="goBack()">Indietro</button>



